
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.text{
  &-brown {
    color: #61574a;
  }

  &-gray {
    color: gray;
  }

  &-custom {
    font-family: 'Satisfy', cursive;
  }
}

.border-brown {
  border: 2px solid #61574a;
}

.btn {
  &-brown {
    background-color: #61574a;
    color: #fff;
  }
  &-pink {
    background-color: #fad9e2;
  }
}

.bg{
    &-pink{
      background-color: #fad9e2;
    }

    &-white{
      background-color: #fff;
    }
}

.contact-box-shadow {
  box-shadow: 20px 10px 40px #888;
}

.contact-textbox {
  border: none;
  border-bottom: 2px #fad9e2 solid;
  border-radius: 0;
}

.contact-box {
  background-image:url(/images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10px #fff;

  .row{
    margin-top: 218px;
    margin-bottom: 120px;
  }
}

.footer-box {
  background-color: #f0e6da;
}

#product {
  margin-top: 8rem !important;
}

#animate-desc {
  margin-top: 4rem !important;
  background-color: #fffaf4;
}

.why-container {
  padding-top: 8rem;
}

.why {
  &-1 {
    background-image:url(/images/why-1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-2 {
    background-image:url(/images/why-2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.VueCarousel-dot-container {
  position: absolute;
  display: grid !important;
  top: 0;
  right: -30px;
}

.VueCarousel-dot--active {
  background-color: #a19362 !important;
}

@include media-breakpoint-down(xs) {
  #sitemap {
    display: none !important;
  }
}
