
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// AOS animation
@import '~aos/dist/aos.css';

body {
  font-family: 'Roboto', cursive;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@font-face{
  src: url(../../public/fonts/freescpt.ttf);
  font-family: "freescpt";
}

@font-face{
  src: url(../../public/fonts/Poppins-Regular.ttf);
  font-family: "poppins";
}

@font-face{
  src: url(../../public/fonts/Brownhill_Script.ttf);
  font-family: "brownhill";
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.fit-image-small{
  width: 100%;
  object-fit: cover;
  height: 200px;
}


.text{
  &-brown {
    color: #61574a;
  }

  &-light-brown {
    color: #c3af96;
  }

  &-gray {
    color: gray;
  }

  &-light-gray {
    color: #e8e2d6;
  }

  &-pink {
    color: #f4d6cd;
  }

  &-red {
    color: #ca6455;
  }

  &-orange {
    color: #eea82a;
  }

  &-custom {
    font-family: 'freescpt', cursive;
  }

  &-custom2 {
    font-family: 'brownhill', cursive;
  }
}

.border-brown {
  border: 2px solid #61574a;
}

.bg {
  &-brown {
    background-color: #61574a;
    color: #fff;
  }
}

.btn {
  &-brown {
    background-color: #61574a;
    color: #fff;
  }
  &-pink {
    background-color: #fad9e2;
  }
  &-blue {
    background-color: #7abece;
  }
  &-rounded {
    border-radius: 20px;
  }
}

.page-item.active .page-link{
  background-color: #61574a;
  border-color: #61574a;
}
.page-link {
  color: #61574a;
  &:hover{
    color: #61574a;
  }
}

.bg{
    &-pink{
      background-color: #fad9e2;
    }

    &-white{
      background-color: #fff;
    }
}

.contact-box-shadow {
  box-shadow: 20px 10px 40px #888;
}

.contact-textbox {
  border: none;
  border-bottom: 2px #fad9e2 solid;
  border-radius: 0;
}

.contact-product-img {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.contact-box {
  background-image:url(/images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: inset 0 0 10px #fff;

  .row{
    margin-top: 218px;
    margin-bottom: 120px;
  }
}

.footer-box {
  background-color: #f0e6da;
  background-image:url(/images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'poppins', cursive;
}

#product {
  margin-top: 8rem !important;

  h1 {
    font-size: 55px;
  }
  &-mobile {
    display: none;
  }
}

.brush2 {
  background-image: url(/images/brush2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brush3 {
  background-image: url(/images/brush3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brush5 {
  background-image: url(/images/brush5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#animate-desc {
  position: relative;
  margin-top: 4rem !important;
  // background-color: #fffaf4;
  background-image:url(/images/bg-ingridient.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1200px;


  &-mobile {
    display: none;
  }

  h1.text-custom {
    font-size: 85px;
    // background-image: url(/images/obj-bottom-desc-bg.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 135px;
    padding-top: 37px;

    span {
      background-image: url(/images/brush1.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px 50px;
    }
  }

  h2.text-custom {
    font-size: 60px;
    background: none;
  }

  .primrose-left {
    position: absolute;
    top: 0;
    left: 110px;
  }

  .primrose-right {
    position: absolute;
    top: 0;
    right: 68px;
    z-index: 1;
  }

  .vit-e-left {
    position: absolute;
    top: 398px;
    left: 200px;
  }

  .vit-e-right {
    position: absolute;
    top: 398px;
    right: 135px;
    z-index: 2;
  }
}

#why-ediva {
  background-image:url(/images/why-ediva-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.why-container {
  padding-top: 8rem;
}

.why {
  &-1 {
    background-image:url(/images/why-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 486px;
    padding-top: 75px;
  }

  &-2 {
    background-image:url(/images/why-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 486px;
    padding-top: 75px;
  }
}

.home {
  &-slider-bg {
    background-image:url(/images/home-slider-bg.png);
    background-repeat: repeat-x;
    background-size: cover;
    min-height: 520px;
  }

  &-product-container {
    background-image:url(/images/article-list-box-bg.png);
    background-size: cover;
    background-repeat: repeat-y;
  }

  &-jelly {
    &-right {
      background-image:url(/images/jelly-right1.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 93px;
      right: 0;
      width: 300px;
      height: 530px;
    }

    &-right2 {
      background-image:url(/images/jelly-right2-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 324px;
      right: -2px;
      width: 300px;
      height: 232px;
    }

    &-right3 {
      background-image:url(/images/jelly-right3-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 512px;
      right: -2px;
      width: 300px;
      height: 299px;
    }

    &-right4 {
      background-image:url(/images/jelly-right4.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 712px;
      right: -2px;
      width: 300px;
      height: 341px;
    }

    &-desc-1{
      position: absolute;
      top: 454px;
      right: 208px;
      width: 235px;
      z-index: 2;
    }

    &-desc-2{
      position: absolute;
      top: 469px;
      right: -28px;
      width: 232px;
    }

    &-desc-3{
      position: absolute;
      top: 690px;
      right: 30px;
      width: 142px;
    }
  }

  &-fruit{
    &-left {
      background-image:url(/images/gac-fruit.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 0;
      width: 231px;
      height: 453px;
    }

    &-bulir1{
      background-image:url(/images/bulir1.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 260px;
      left: 150px;
      width: 46px;
      height: 43px;
    }

    &-bulir2{
      background-image:url(/images/bulir2.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 323px;
      left: 197px;
      width: 35px;
      height: 37px;
    }

    &-bulir3{
      background-image:url(/images/bulir3.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 371px;
      left: 230px;
      width: 25px;
      height: 29px;
    }

    &-bulir4{
      background-image:url(/images/bulir4.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 398px;
      left: 250px;
      width: 37px;
      height: 36px;
    }

    &-bulir5{
      background-image:url(/images/bulir3.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 465px;
      left: 270px;
      width: 25px;
      height: 29px;
    }

    &-desc-1{
      position: absolute;
      top: 460px;
      left: 79px;
      width: 235px;
    }

    &-desc-2{
      position: absolute;
      top: 328px;
      left: 328px;
      width: 235px;
    }
  }

  &-primrose {
    &-desc-1{
      position: absolute;
      top: 694px;
      left: 11px;
      width: 235px;
    }

    &-desc-2{
      position: absolute;
      top: 828px;
      left: 357px;
      width: 235px;
    }

    &-desc-3{
      position: absolute;
      top: 728px;
      right: 257px;
      width: 235px;
    }
  }

}

#slider{
  .VueCarousel-dot-container {
    position: absolute;
    display: grid !important;
    top: 0;
    right: -30px;
  }

  .VueCarousel-navigation-prev {
    left: 47px;
    font-size: xx-large;
    color: #a19362;
    outline: none;
  }

  .VueCarousel-navigation-next {
    right: 62px;
    font-size: xx-large;
    color: #a19362;
    outline: none;
  }
}

.VueCarousel-slide {
  position: relative;
}

.VueCarousel-dot--active {
  background-color: #a19362 !important;
}

.slider-overlay {
  position: absolute;
  top: 24%;
  left: 10%;
  width: 50%;
}

.faq-decor {
  &-left {
    position: absolute;
    bottom: 20%;
    left: 0;
  }

  &-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-right2 {
    position: absolute;
    right: 0;
    bottom: 2%;
  }

  &-bg {
    background-image:url(/images/faq-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.news {
  &-bg {
    background:url(/images/news-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  &-header-title {
    font-size: 70px;
  }
}

.company {
  &-box {
     background: #f8f3e9;
     min-height: 442px;

     .content {
       z-index: 2;
       position: relative;
     }
  }

  &-bg {
    background-image:url(/images/company-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
  }

  &-leaf{
    &-right {
      position: absolute;
      top: 30%;
      right: 4%;
    }
    &-left {
      position: absolute;
      bottom: 10%;
      left: 4%;
    }
  }

  &-flower-right{
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

#company {
  .VueCarousel-navigation-prev {
    left: 47px;
    font-size: xx-large;
    color: #a19362 !important;
    outline: none;
  }

  .VueCarousel-navigation-next {
    right: 62px;
    font-size: xx-large;
    color: #a19362 !important;
    outline: none;
  }
}

#article-list {
  margin-top: 8rem;
  margin-bottom: 8rem;
  position: relative;

  .article-list{
    &-container {
      background-image:url(/images/article-list-box-bg.png);
      background-size: contain;
      background-repeat: repeat-y;
    }

    &-box {
      background: #f5dca3;
    }
  }

  .card {
    z-index: 10;
  }

  .overlay {
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
}

.article {
  &-bg {
    background-image:url(/images/article-bg.png);
    background-repeat: repeat;
    background-position: 24% 80%;
    background-size: cover;
  }

  &-box-odd {
    margin-top: -3rem !important;
    margin-bottom: -4rem !important;
  }

  &-box-even {
    margin-top: 10rem !important;
    margin-bottom: -3rem !important;
  }
}

#accordion {
  .card {
    border: none;
    border-radius: 1rem;

    .card-header {
      border-bottom: none;
    }
    .btn-link {
      text-decoration: none;
      color: gray;
      font-weight: bolder;
    }
  }
}

#product {
  &-top {
    position: relative;
    min-height: 520px;
    background-image:url(/images/obj-top-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    &-mobile {
      display: none;
    }
  }

  &-middle {
    position: relative;
    min-height: 520px;
    background-image:url(/images/obj-middle-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &-mobile {
      display: none;
    }
  }

  &-bottom {
    position: relative;
    background-color: #fdfcfa;
    min-height: 520px;

    h1{
      z-index: 10;
    }
    &-mobile {
      display: none;
    }
  }

}

.img-article {
  max-height: 320px;
}

.aos-animate {
  &.bulir {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}


.obj{
  &-top{
    &-1{
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: slideTopDown 3s ease forwards;
    }
    &-2{
      position: absolute;
      top: 197px;
      left: 10%;
      -webkit-animation: slideLeftRight 2s ease forwards;
    }
    &-bounce{
      -webkit-animation: jump 1.5s ease 0s 1 normal;
    }
    &-appear{
      -webkit-animation: appear 2s ease 0s 1 normal;
    }
    &-desc-bg{
      background-image:url(/images/obj-top-desc-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &-middle {
    &-desc-bg{
      background-image:url(/images/obj-middle-desc-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-2{
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-bottom {
    &-title-bg {
      position: absolute;
      top: -53px;
      left: -50px;
      background-image: url(/images/obj-bottom-desc-bg.png);
      background-repeat: no-repeat;
      width: 600px;
      height: 235px;
      background-position: center;
      opacity: 0.5;
    }

    &-title-bg-2 {
      position: absolute;
      top: -53px;
      right: -118px;
      background-image: url(/images/obj-bottom-desc-bg-2.png);
      background-repeat: no-repeat;
      width: 580px;
      height: 235px;
      background-position: center;
      opacity: 0.5;
    }

    &-title-bg-4 {
      position: absolute;
      top: -53px;
      right: -38px;
      background-image: url(/images/obj-bottom-desc-bg-2.png);
      background-repeat: no-repeat;
      width: 580px;
      height: 235px;
      background-position: center;
      opacity: 0.5;
    }

    &-title-2 {
      font-size: 91px;
      padding-right: 70px;
      text-align: right;
    }
  }

}

// animation
@keyframes slideTopDown {
  from {
    opacity: 0;
    top: -200px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes slideLeftRight {
  from {
    opacity: 0;
    left: -25%;
  }
  to {
    opacity: 1;
    left: 10%;
  }
}

@keyframes jump {
  0%{
	   transform: translateY(0);
  }
  20%{
	   transform: translateY(0);
  }
  40%{
	   transform: translateY(-30px);
  }
  50%{
	   transform: translateY(0);
  }
  60%{
	   transform: translateY(-15px);
  }
  80%{
	   transform: translateY(0);
  }
  100%{
	   transform: translateY(0);
  }
}

@-webkit-keyframes appear {
  0%{
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}


@include media-breakpoint-down(xs) {
  #sitemap {
    display: none !important;
  }

  .contact-box {
    background: none;

    .row{
      margin-top: 0;
    }
  }

  .contact-product-img {
    position: absolute;
    bottom: 62px;
    z-index: 100;

    img {
      width: 400px;
    }
  }

  .faq-decor {
    &-left {
      display: none;
    }

    &-right {
      display: none;
    }

    &-right2 {
      display: none;
    }
  }

  .slider-overlay {
    display: none;
  }

  .company{
    &-leaf-left{
      display: none;
    }
    &-leaf-right{
      display: none;
    }
  }

  #article-list {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .article {
      &-box-odd {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
      }
      &-box-even {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
      }
    }
  }

  #product {
    display: none;
    &-mobile {
      display: block;
    }

    &-top {
      display: none;
      &-mobile {
        display: block;
      }
    }

    &-middle {
      display: none;
      &-mobile {
        display: block;
      }
    }

    &-bottom {
      display: none;
      &-mobile {
        display: block;
      }
    }
  }

  #animate-desc {
    display: none;
    &-mobile {
      display: block;
    }

    .title-group-1 {
      margin-top: 10rem !important;
    }
  }

  .why{
    &-1 {
      background-size: cover;
      height: 671px;
      padding-top: 25px;
    }
    &-2 {
      background-size: cover;
      height: 671px;
      padding-top: 25px;
    }
  }

  .home {
    &-slider-bg {
      min-height: 200px;
    }
  }


}
