
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px;

  &-small {
    height: 210px;
  }
}


.text{
  &-brown {
    color: #61574a;
  }

  &-gray {
    color: gray;
  }

  &-custom {
    font-family: 'Satisfy', cursive;
  }
}

.border-brown {
  border: 2px solid #61574a;
}

.btn {
  &-brown {
    background-color: #61574a;
    color: #fff;
  }
  &-pink {
    background-color: #fad9e2;
  }
  &-blue {
    background-color: #7abece;
  }
}

.bg{
    &-pink{
      background-color: #fad9e2;
    }

    &-white{
      background-color: #fff;
    }
}

.contact-box-shadow {
  box-shadow: 20px 10px 40px #888;
}

.contact-textbox {
  border: none;
  border-bottom: 2px #fad9e2 solid;
  border-radius: 0;
}

.contact-product-img {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.contact-box {
  background-image:url(/images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10px #fff;

  .row{
    margin-top: 218px;
    margin-bottom: 120px;
  }
}

.footer-box {
  background-color: #f0e6da;
}

#product {
  margin-top: 8rem !important;
}

#animate-desc {
  margin-top: 4rem !important;
  background-color: #fffaf4;
}

.why-container {
  padding-top: 8rem;
}

.why {
  &-1 {
    background-image:url(/images/why-1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-2 {
    background-image:url(/images/why-2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#slider{
  .VueCarousel-dot-container {
    position: absolute;
    display: grid !important;
    top: 0;
    right: -30px;
  }
}

.VueCarousel-dot--active {
  background-color: #a19362 !important;
}

.slider-overlay {
  position: absolute;
  top: 24%;
  left: 10%;
  width: 50%;
}

.faq-decor {
  &-left {
    position: absolute;
    bottom: 20%;
    left: 0;
  }

  &-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-right2 {
    position: absolute;
    right: 0;
    bottom: 2%;
  }

  &-bg {
    background-image:url(/images/faq-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.news {
  &-bg {
    background:url(/images/news-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  &-header-title {
    font-size: 55px;
  }
}

.company {
  &-box {
     background: #f8f3e9;
     min-height: 442px;

     .content {
       z-index: 2;
       position: relative;
     }
  }

  &-bg {
    background-image:url(/images/company-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
  }

  &-leaf{
    &-right {
      position: absolute;
      top: 30%;
      right: 4%;
    }
    &-left {
      position: absolute;
      bottom: 10%;
      left: 4%;
    }
  }

  &-flower-right{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#accordion {
  .card {
    border: none;
    border-radius: 1rem;

    .card-header {
      border-bottom: none;
    }
    .btn-link {
      text-decoration: none;
      color: gray;
      font-weight: bolder;
    }
  }
}

@include media-breakpoint-down(xs) {
  #sitemap {
    display: none !important;
  }

  .contact-box {
    background: none;

    .row{
      margin-top: 0;
    }
  }

  .contact-product-img {
    position: absolute;
    bottom: 62px;
    z-index: 100;

    img {
      width: 400px;
    }
  }

  .faq-decor {
    &-left {
      display: none;
    }

    &-right {
      display: none;
    }

    &-right2 {
      display: none;
    }
  }

  .slider-overlay {
    display: none;
  }

  .company{
    &-leaf-left{
      display: none;
    }
    &-leaf-right{
      display: none;
    }
  }

}
